body {
display: grid;
grid-template-columns: 80vw 20vw;
grid-template-rows: 90vh 10vh;  
margin: 0; 
}

#map {
grid-column: 1; 
grid-row: 1;
width: 100%;
height: 100%;
}

#inventaire {
grid-column: 2; 
grid-row: 1;  
background-color: black;
width: 100%;
height: 100%;
display: grid;
grid-template-rows: 12% 22% 22% 22% 22%;
}


#inventaire .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: red;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    transition: background-color 0.5s, border 0.3s;

}

#inventaire .image.selected {
    background: green; 
}

#inventaire h2 {
    background: white;
    
}



#commentaire {
grid-column: 1;
grid-row: 2; 
background-color: rgb(79, 31, 139);
width: 100%;
height: 100%;
}

#score {
grid-column: 2;
grid-row: 2; 
background-color: rgb(179, 134, 36);
width: 100%;
height: 100%;
}