body {
display: grid;
grid-template-columns: 80vw 20vw;
grid-template-rows: 90vh 10vh;  
margin: 0; 
}

#map {
grid-column: 1; 
grid-row: 1;
width: 100%;
height: 100%;
}

#inventaire {
grid-column: 2; 
grid-row: 1;  
background-color: black;
width: 100%;
height: 100%;
display: grid;
grid-template-rows: 25% 25% 25% 25%;
}


#inventaire .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: white;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
}




#commentaire {
grid-column: 1;
grid-row: 2; 
background-color: rgb(79, 31, 139);
width: 100%;
height: 100%;
}

#score {
grid-column: 2;
grid-row: 2; 
background-color: rgb(179, 134, 36);
width: 100%;
height: 100%;
}