body {
display: grid;
grid-template-columns: 80vw 20vw;
grid-template-rows: 90vh 10vh;  
margin: 0; 
}

#map {
grid-column: 1; 
grid-row: 1;
width: 100%;
height: 100%;
}

#inventaire {
grid-column: 2; 
grid-row: 1;  
background-color: black;
width: 100%;
height: 100%;
display: grid;
grid-template-rows: 12% 22% 22% 22% 22%;
}


#inventaire .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: red;
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
    box-sizing: border-box;
    transition: background-color 0.5s, border 0.3s;

}

#inventaire .image.selected {
    background: green; 
}

#inventaire h2 {
    background: white;
    
}

#checkbox-container {
    position: absolute;
    top: 1vh;
    right: 21vw;

    background: rgba(255, 255, 255, 0.8);
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    z-index: 200;
    display: flex;
    align-items: center;
    gap: 6px;
}


#commentaire {
grid-column: 1;
grid-row: 2; 
background-color: whitesmoke;
width: 100%;
height: 100%;
}

#score {
grid-column: 2;
grid-row: 2; 
background-color: whitesmoke;
width: 100%;
height: 100%;
}

#popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 150px;
  display: none;
  z-index: 100;
}

#popup2 {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 150px;
  display: none;
  z-index: 100;
}
